.help-button {
	border-radius: 100px;
	background-color: #2184ed;
	color: black;
	font-family: 'Kdam Thmor Pro', sans-serif;
	font-size: 16px;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 10px;
	left: 10px;

}

.custom-font {
	font-family: 'Kdam Thmor Pro', sans-serif;
	
}

.modal-image {
	background-color: black;
	color: white;
}

.modal-modal {
	max-width: 100%;
}

.hide {
	display: none;
}